.heading, body > header h2, #h1, #h2, #h3, #h4, #h5, #h6,
h1, h2, h3, h4, h5, h6 {
  /* ${heading-font-family} */
  font-family: "Tangerine", "Georgia", "Helvetica Neue", Arial, sans-serif;
}

.sans {
  /* ${sans} */
  font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
}

.serif, body {
  /* ${serif} */
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

.mono, pre, code, tt {
  /* ${mono} */
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

body > header h1 {
  text-shadow: 4px 4px 4px #aaa;
  font-size: 5em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 0.6667em;
  font-family: "Fredericka the Great", "Georgia", "Helvetica Neue", Arial, sans-serif;
}

body {
  line-height: 1.5em;
  /* ${text-color} = #222 */
  color: #222;
}

h1 {
  font-size: 2.2em;
  line-height: 1.2em;
}

#h1, #h2, #h3, #h4, #h5, #h6, h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  margin-bottom: 1em;
  font-weight: bold;
}

h2, section h1 {
  font-size: 1.5em;
}

h3, section h2, section section h1 {
  font-size: 1.3em;
}

h4, section h3, section section h2, section section section h1 {
  font-size: 1em;
}

h5, section h4, section section h3 {
  font-size: .9em;
}

h6, section h5, section section h4, section section section h3 {
  font-size: .8em;
}

p, ul, ol {
  margin-bottom: 1.5em;
}

blockquote {
  margin-bottom: 0.5em;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
  margin-bottom: 0px;
}

ul ul ul {
  list-style-type: square;
  margin-bottom: 0px;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
  margin-bottom: 0px;
}

ol ol ol {
  list-style-type: lower-roman;
  margin-bottom: 0px;
}

ul, ol, ul ul, ul ol, ol ul, ol ol {
  margin-left: 1.3em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup, sub {
  font-size: 0.8em;
  position: relative;
  display: inline-block;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.5em;
}

em, dfn {
  font-style: italic;
}

strong, dfn {
  font-weight: bold;
}

del, s {
  text-decoration: line-through;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

sub, sup {
  line-height: 0;
}

hr {
  margin-bottom: 0.2em;
}

small {
  font-size: .8em;
}

big {
  font-size: 1.2em;
}

blockquote {
  font-family: "Tangerine", "Georgia", "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  font-size: 35px;
  padding-left:1em;
  line-height: 1em;
  border-left:4px solid rgba(170,170,170,0.5)
}

blockquote cite {
  font-style:italic
}

blockquote cite a {
  color:#aaa !important;
  word-wrap:break-word
}

blockquote cite:before {
  content:'\2014';
  padding-right:.3em;
  padding-left:.3em;
  color:#aaa
}

/* force long lines of continuous text to wrap */
.force-wrap, article a {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

