/*
$blockquote: $type-border !default;
$header-subtitle-font-family: $heading-font-family !default;
*/

.heading, body > header h1 {
  /* ${heading-font-family} */
  font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
}

.sans {
  /* ${sans} */
  font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
}

.serif {
  /* ${serif} */
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

.mono {
  /* ${mono} */
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

body > header h1 {
  font-size: 2.2em;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0.6667em;
}
