html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section,summary {
  display:block
}

body > div > div {
  background:#f8f8f8 url('/KamikazeRace/noise.png') top left;
  border-right:1px solid #dadde3
}

.group:after,body > header:after,body > nav:after,body > footer:after,
body #content > article:after,body #content > div > article:after,
body #content > div > section:after,body div.pagination:after,
aside.sidebar:after,#main:after,#content:after,
.collapse-sidebar aside.sidebar:after {
  content:"";
  display:table;
  clear:both
}

body {
  -webkit-text-size-adjust:none;
  max-width:1000px;
  position:relative;
  margin:0 auto
}

body > header,body > nav,body > footer,body #content > article,
body #content > div > article,body #content > div > section {
  padding-left:18px;
  padding-right:18px
}

body div.pagination {
  margin-left:18px;
  margin-right:18px
}

body > header {
  font-size:1em;
  padding-top:1.5em;
  padding-bottom:1.5em
}

#content {
  overflow:hidden
}

#content > div, #content > article {
  width:100%
}

article img {
  max-width:100%;
  height:auto
}

.basic-alignment.left, article img.left {
  float:left;
  margin-right:1.5em
}

.basic-alignment.right, article img.right {
  float:right;
  margin-left:1.5em
}

.basic-alignment.center,article img.center,article video.center,
article .center.flash-video,aside.sidebar img.center {
  display:block;
  margin:0 auto 1.5em
}

.basic-alignment.left,article img.left,article video.left,
article .left.flash-video,aside.sidebar img.left,.basic-alignment.right,
article img.right,article video.right,article .right.flash-video,
aside.sidebar img.right {
  margin-bottom:.8em
}

body > header {
  background:#263347
}

body > header h1 {
  display:inline-block;
  margin:0
}

body > header h1 a, body > header h1 a:visited,
body > header h1 a:hover {
  color:#f2f2f2;
  text-decoration:none
}

body > header h2 {
  margin:.2em 0 0;
  font-size:1em;
  color:#bac7da;
  font-weight:normal
}

body > nav {
  position:relative;
  background-color:#c5dcbb;
  background:url('/KamikazeRace/noise.png'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcead6), color-stop(50%, #c5dcbb), color-stop(100%, #a5c896));
  background:url('/KamikazeRace/noise.png'), -webkit-linear-gradient(#dcead6,#c5dcbb,#a5c896);
  background:url('/KamikazeRace/noise.png'), -moz-linear-gradient(#dcead6,#c5dcbb,#a5c896);
  background:url('/KamikazeRace/noise.png'), -o-linear-gradient(#dcead6,#c5dcbb,#a5c896);
  background:url('/KamikazeRace/noise.png'), -ms-linear-gradient(#dcead6,#c5dcbb,#a5c896);
  background:url('/KamikazeRace/noise.png'), linear-gradient(#dcead6,#c5dcbb,#a5c896);
  border-top:1px solid #f0f6ed;
  border-bottom:1px solid #7db067;
  padding-top:.35em;
  padding-bottom:.35em
}

body > nav form{
  -moz-background-clip:padding;
  -webkit-background-clip:padding;
  -o-background-clip:padding-box;
  -ms-background-clip:padding-box;
  -khtml-background-clip:padding-box;
  background-clip:padding-box;
  margin:0;
  padding:0
}

body > nav form .search {
  padding:.3em .5em 0;
  font-size:.85em;
  line-height:1.1em;
  width:95%;
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
  -o-border-radius:0.5em;
  -ms-border-radius:0.5em;
  -khtml-border-radius:0.5em;
  border-radius:0.5em;
  -moz-background-clip:padding;
  -webkit-background-clip:padding;
  -o-background-clip:padding-box;
  -ms-background-clip:padding-box;
  -khtml-background-clip:padding-box;
  background-clip:padding-box;
  -moz-box-shadow:#cbdfc2 0 1px;
  -webkit-box-shadow:#cbdfc2 0 1px;
  -o-box-shadow:#cbdfc2 0 1px;
  box-shadow:#cbdfc2 0 1px;
  background-color:#f0f6ed;
  border:1px solid #a8ca9a;
  color:#888
}

body > nav form .search:focus {
  color:#444;
  border-color:#80b1df;
  -moz-box-shadow:#80b1df 0 0 4px,#80b1df 0 0 3px inset;
  -webkit-box-shadow:#80b1df 0 0 4px,#80b1df 0 0 3px inset;
  -o-box-shadow:#80b1df 0 0 4px,#80b1df 0 0 3px inset;
  box-shadow:#80b1df 0 0 4px,#80b1df 0 0 3px inset;
  background-color:#fff;
  outline:none
}

body > nav fieldset[role=search] {
  float:right;
  width:48%
}

body > nav fieldset.mobile-nav {
  float:left;
  width:48%
}

body > nav fieldset.mobile-nav select {
  width:100%;
  font-size:.8em;
  border:1px solid #888
}

body > nav ul{
  display:none
}


article {
  padding-top:1em
}

article header {
  position:relative;
  padding-top:2em;
  padding-bottom:1em;
  margin-bottom:1em;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x
}

article header h1 {
  margin:0
}

article header h1 a {
  text-decoration:none
}

article header h1 a:hover{
  text-decoration:underline
}

article header p {
  font-size:.9em;
  color:#aaa;
  margin:0
}

article header p.meta {
  text-transform:uppercase;
  position:absolute;
  top:0
}

article h2{
  padding-top:0.8em;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x
}

.entry-content article h2:first-child,article header + h2 {
  padding-top:0
}

article h2:first-child,article header + h2 {
  background:none
}

article .feature {
  padding-top:.5em;
  margin-bottom:1em;
  padding-bottom:1em;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
  font-size:2.0em;
  font-style:italic;
  line-height:1.3em
}

article img,article video,article .flash-video {
  -moz-border-radius:0.3em;
  -webkit-border-radius:0.3em;
  -o-border-radius:0.3em;
  -ms-border-radius:0.3em;
  -khtml-border-radius:0.3em;
  border-radius:0.3em;
  -moz-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;
  -webkit-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;
  -o-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;
  box-shadow:rgba(0,0,0,0.15) 0 1px 4px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  border:white 0.5em solid
}

article > footer {
  padding-bottom:2.5em;
  margin-top:2em
}

article > footer p.meta {
  margin-bottom:.8em;
  font-size:.85em;
  clear:both;
  overflow:hidden
}

.blog-index article + article {
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x
}

#content .blog-index {
  padding-top:0;
  padding-bottom:0
}

#content .blog-index article {
  padding-top:2em
}

#content .blog-index article header {
  background:none;
  padding-bottom:0
}

#content .blog-index article h1 {
  font-size:2.2em
}

#content .blog-index article h1 a {
  color:inherit
}

#content .blog-index article h1 a:hover {
  color:#0181eb
}

#content .blog-index a[rel=full-article] {
  background:#ebebeb;
  display:inline-block;
  padding:.4em .8em;
  margin-right:.5em;
  text-decoration:none;
  color:#666;
  -moz-transition:background-color 0.5s;
  -webkit-transition:background-color 0.5s;
  -o-transition:background-color 0.5s;
  transition:background-color 0.5s
}

#content .blog-index a[rel=full-article]:hover {
  background:#0181eb;
  text-shadow:none;
  color:#f8f8f8
}

#content .blog-index footer {
  margin-top:1em
}

.separator,article > footer .byline + time:before,
article > footer time + time:before,article > footer .comments:before,
article > footer .byline ~ .categories:before {
  content:"\2022";
  padding:0 .4em 0 .2em;
  display:inline-block
}

#content div.pagination {
  text-align:center;
  font-size:.95em;
  position:relative;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
  padding-top:1.5em;
  padding-bottom:1.5em
}

#content div.pagination a {
  text-decoration:none;
  color:#aaa
}

#content div.pagination a.prev { 
  position:absolute;left:0
}

#content div.pagination a.next {
  position:absolute;right:0
}

#content div.pagination a:hover {
  color:#0181eb
}

