/* Untesteds */
:wa

table {
  border-collapse:collapse;
  border-spacing:0
}

caption,th,td {
  text-align:left;
  font-weight:normal;
  vertical-align:middle
}

/* Links */
a img{
  border:none
}

a {
  color:#1863a1
}

a:visited {
  color:#751590
}

a:focus {
  color:#0181eb
}

a:hover {
  color:#0181eb
}

a:active {
  color:#01579f
}

a {
  -moz-transition:color 0.3s;
  -webkit-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s
}

body > header h1 > a, body > header h1 > a:visited {
  text-decoration: none;
  color: white;
}

/* Main areas */
html {
  background:#252525 url('/KamikazeRace/line-tile.png') top left
}

body > div {
  background:#edeff4 url('/KamikazeRace/noise.png') top left;
  border-bottom:1px solid #bfbfbf
}

/* Zooms */
.group,body > header,body > nav,body > footer,body #content > article,
body #content > div > article,body #content > div > section,
body div.pagination,aside.sidebar,#main,#content,
.collapse-sidebar aside.sidebar {
  *zoom:4
}


/* Get title gradient background */
body > header {
  background-color:#002b36;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, #002b36));
  background: -webkit-linear-gradient(#e0e0e0, #002b36);
  background: -moz-linear-gradient(#e0e0e0, #002b36);
  background: -o-linear-gradient(#e0e0e0, #002b36);
  background: -ms-linear-gradient(#e0e0e0, #002b36);
  background: linear-gradient(#e0e0e0, #002b36);
  border-top:1px solid #f2f2f2;
  position:relative;
  padding-bottom:1em;
  padding-top:1em;
  margin-top:0em;
  -moz-border-radius-topleft:0.4em;
  -webkit-border-top-left-radius:0.4em;
  -o-border-top-left-radius:0.4em;
  -ms-border-top-left-radius:0.4em;
  -khtml-border-top-left-radius:0.4em;
  border-top-left-radius:0.4em;
  -moz-border-radius-topright:0.4em;
  -webkit-border-top-right-radius:0.4em;
  -o-border-top-right-radius:0.4em;
  -ms-border-top-right-radius:0.4em;
  -khtml-border-top-right-radius:0.4em;
  border-top-right-radius:0.4em;
  z-index:1
}

body > header hgroup {
  text-align:center;
  position:relative;
  margin:0 auto
}

body > header h1 {
  line-height:.8em;
  position:relative;
  margin:0
}

body > header h1 a:hover {
  color:#fff
}

body > header h2 {
  font-size:1.6em;
  position:relative;
  top:.4em
}

article li em{
  color:#666
}

/* Footer control */
body > footer{
  font-size:.8em;
  color:#888;
  text-shadow:#d9d9d9 0 1px;
  background-color:#ccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(50%, #cccccc), color-stop(100%, #b0b0b0));
  background: -webkit-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: -moz-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: -o-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: -ms-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  border-top:1px solid #f2f2f2;
  position:relative;
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom:3em;
  -moz-border-radius-bottomleft:0.4em;
  -webkit-border-bottom-left-radius:0.4em;
  -o-border-bottom-left-radius:0.4em;
  -ms-border-bottom-left-radius:0.4em;
  -khtml-border-bottom-left-radius:0.4em;
  border-bottom-left-radius:0.4em;
  -moz-border-radius-bottomright:0.4em;
  -webkit-border-bottom-right-radius:0.4em;
  -o-border-bottom-right-radius:0.4em;
  -ms-border-bottom-right-radius:0.4em;
  -khtml-border-bottom-right-radius:0.4em;
  border-bottom-right-radius:0.4em;
  z-index:1
}

body > footer a {
  color:#6b6b6b
}

body > footer a:visited {
  color:#6b6b6b
}

body > footer a:hover {
  color:#484848
}

body > footer p:last-child {
  margin-bottom:0
}

