/* Untesteds */
:wa

table {
  border-collapse:collapse;
  border-spacing:0
}

caption,th,td {
  text-align:left;
  font-weight:normal;
  vertical-align:middle
}

/* Links */
a img{
  border:none
}

a {
  color:#1863a1
}

a:visited {
  color:#751590
}

a:focus {
  color:#0181eb
}

a:hover {
  color:#0181eb
}

a:active {
  color:#01579f
}

a {
  -moz-transition:color 0.3s;
  -webkit-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s
}

body > header h1 > a, body > header h1 > a:visited {
  text-decoration: none;
  color: white;
}

/* Main areas */
html {
  background:#252525 url('/KamikazeRace/line-tile.png') top left
}

body > div {
  background:#edeff4 url('/KamikazeRace/noise.png') top left;
  border-bottom:1px solid #bfbfbf
}

body > div > div {
  background:#f8f8f8 url('/KamikazeRace/noise.png') top left;
  border-right:1px solid #dadde3
}

body {
  -webkit-text-size-adjust:none;
  max-width:800px;
  position:relative;
  margin:0 auto
}

/* paddings and margins */
body > header,body > nav,body > footer,body #content > article,
body #content > div > article,body #content > div > section {
  padding-left:18px;
  padding-right:18px
}

body div.pagination {
  margin-left:18px;
  margin-right:18px
}

body > header {
  font-size:1em;
  padding-top:1.5em;
  padding-bottom:1.5em
}

#content > div, #content > article {
  width:100%
}

article img {
  max-width:100%;
  height:auto
}

/* Alignments */
.basic-alignment.left, article img.left {
  float:left;
  margin-right:1.5em
}

.basic-alignment.right, article img.right {
  float:right;
  margin-left:1.5em
}

.basic-alignment.center,article img.center,article video.center,
article .center.flash-video,aside.sidebar img.center {
  display:block;
  margin:0 auto 1.5em
}

.basic-alignment.left,article img.left,article video.left,
article .left.flash-video,aside.sidebar img.left,.basic-alignment.right,
article img.right,article video.right,article .right.flash-video,
aside.sidebar img.right {
  margin-bottom:.8em
}

/* Pagination */
#content div.pagination {
  text-align:center;
  font-size:.95em;
  position:relative;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
  padding-top:1.5em;
  padding-bottom:1.5em
}

#content div.pagination a {
  text-decoration:none;
  color:#aaa
}

#content div.pagination a.prev { 
  position:absolute;left:0
}

#content div.pagination a.next {
  position:absolute;right:0
}

#content div.pagination a:hover {
  color:#0181eb
}

/* Article */
article {
  padding-top:1em
}

article header {
  position:relative;
  padding-top:2em;
  padding-bottom:1em;
  margin-bottom:1em;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x
}

article header h1 {
  margin:0
}

article header h1 a {
  text-decoration:none
}

article header h1 a:hover{
  text-decoration:underline
}

article header p {
  font-size:.9em;
  color:#aaa;
  margin:0
}

article header p.meta {
  text-transform:uppercase;
  position:absolute;
  top:0
}

article h2{
  padding-top:0.8em;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x
}

.entry-content article h2:first-child,article header + h2 {
  padding-top:0
}

article h2:first-child,article header + h2 {
  background:none
}

article .feature {
  padding-top:.5em;
  margin-bottom:1em;
  padding-bottom:1em;
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
  font-size:2.0em;
  font-style:italic;
  line-height:1.3em
}

article img, {
  -moz-border-radius:0.3em;
  -webkit-border-radius:0.3em;
  -o-border-radius:0.3em;
  -ms-border-radius:0.3em;
  -khtml-border-radius:0.3em;
  border-radius:0.3em;
  -moz-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;
  -webkit-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;
  -o-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;
  box-shadow:rgba(0,0,0,0.15) 0 1px 4px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  border:white 0.5em solid
}

article > footer {
  padding-bottom:2.5em;
  margin-top:2em
}

article > footer p.meta {
  margin-bottom:.8em;
  font-size:.85em;
  clear:both;
  overflow:hidden
}


/* Get title gradient background */
body > header {
  background-color:#002b36;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#001513), color-stop(100%, #002b36));
  background: -webkit-linear-gradient(#001513, #002b36);
  background: -moz-linear-gradient(#001513, #002b36);
  background: -o-linear-gradient(#001513, #002b36);
  background: -ms-linear-gradient(#001513, #002b36);
  background: linear-gradient(#001513, #002b36);
  border-top:0.9px solid #f2f2f2;
  position:relative;
  padding-bottom:1em;
  padding-top:1em;
  margin-top:0em;
  -moz-border-radius-topleft:0.4em;
  -webkit-border-top-left-radius:0.4em;
  -o-border-top-left-radius:0.4em;
  -ms-border-top-left-radius:0.4em;
  -khtml-border-top-left-radius:0.4em;
  border-top-left-radius:0.4em;
  -moz-border-radius-topright:0.4em;
  -webkit-border-top-right-radius:0.4em;
  -o-border-top-right-radius:0.4em;
  -ms-border-top-right-radius:0.4em;
  -khtml-border-top-right-radius:0.4em;
  border-top-right-radius:0.4em;
  z-index:1
}

body > header hgroup {
  text-align:center;
  position:relative;
  margin:0 auto
}

body > header h1 {
  line-height:.8em;
  position:relative;
  margin:0
}

body > header h1 a:hover {
  color:#fff
}

body > header h2 {
  font-size:1.6em;
  position:relative;
  top:.4em
}

article li em{
  color:#666
}

/* Footer control */
body > footer{
  font-size:.8em;
  color:#888;
  text-shadow:#d9d9d9 0 1px;
  background-color:#ccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(50%, #cccccc), color-stop(100%, #b0b0b0));
  background: -webkit-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: -moz-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: -o-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: -ms-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  border-top:1px solid #f2f2f2;
  position:relative;
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom:3em;
  -moz-border-radius-bottomleft:0.4em;
  -webkit-border-bottom-left-radius:0.4em;
  -o-border-bottom-left-radius:0.4em;
  -ms-border-bottom-left-radius:0.4em;
  -khtml-border-bottom-left-radius:0.4em;
  border-bottom-left-radius:0.4em;
  -moz-border-radius-bottomright:0.4em;
  -webkit-border-bottom-right-radius:0.4em;
  -o-border-bottom-right-radius:0.4em;
  -ms-border-bottom-right-radius:0.4em;
  -khtml-border-bottom-right-radius:0.4em;
  border-bottom-right-radius:0.4em;
  z-index:1
}

body > footer a {
  color:#6b6b6b
}

body > footer a:visited {
  color:#6b6b6b
}

body > footer a:hover {
  color:#484848
}

body > footer p:last-child {
  margin-bottom:0
}

